{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}
<form  method="post">
  {% csrf_token %}
  <div class="form-row">
<div class="form-group col-md-6 mb-0">
  {{ form.bussiness_name|as_crispy_field }}
</div>
<div class="form-group col-md-6 mb-0">
  {{ form.phone|as_crispy_field }}
</div>
<div class="form-group col-md-6 mb-0">
  {{ form.description|as_crispy_field }}
</div>
<div class="row">
<div class="form-group col-md-6 mb-0">
  {{ form.photo|as_crispy_field }}
</div>
<div class="form-group col-md-6 mb-0">
  {{ form.street|as_crispy_field }}
</div>
<div class="form-group col-md-6 mb-0">
  {{ form.pincode|as_crispy_field }}
</div>
</div>
<div class="row">
<div class="form-group col-md-6 mb-0">
  {{ form.district|as_crispy_field }}
</div>
<div class="form-group col-md-6 mb-0">
  {{ form.state|as_crispy_field }}
</div>
</div>
<div class="row">
<div class="form-group col-md-6 mb-0">
  {{ form.website|as_crispy_field }}
</div>
</div>
<button type="submit" name="button">Submit</button>
</form>
{% endblock %}
