{% extends "account/base.html" %}
{% block content %}
{% load crispy_forms_tags %}

 <div class="container ml-100 " style = "border-shadow : 5px 5px 5px black;">
    <div class="col-sm-10 col-sm-offset-6">

<div class="card">

<br>

  <div class="row justify-content-center ">

    <div class="col-6">

      <form  method="post">
        <fieldset class="form-group">


        {% csrf_token %}
        <legend class="border-bottom mb-4">Reset Password</legend>
        {{form|crispy}}

          </fieldset>
        <button class = "btn btn-primary" type="submit">Request Password Reset &raquo;</button>
      </form><br>


    </div>
  </div>
  </div>
  </div>
{% endblock %}
