{% extends "base.html" %}
{% load staticfiles %}
{% block extra_head %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
<style>
.a{
  float : left;
  margin-top : 200px;
}
.b{
  margin-left : 10px;
}
h1{
  font-family: 'Lobster', cursive;
}
body{
  background-color : #f2f2f2
}
img{
  width : 100%;
  display : block;
  position : relative;
  bottom : 0px;
  left : 0px;
  right : 0px;
  top : 10px;
}
</style>
{% endblock %}
{% block extra_body %}
{% load crispy_forms_tags %}

<div class="card" style="height : 4x0rem; width : 4x0rem;">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-2 col-md-6 col-lg-6" >
        <br><br>
        <center>
        <h1>Know Your Neighbour With Us..</h1>
        <br><br>
        <img src="{% static "image/image2.png"%}" alt="" style = "">
        </center>
      </div>
      <div class="col-sm-10 col-md-6 col-lg-6">
        <br>
        <h2>
          <center>Sign Up</center>
        </h2>
        <center>
          <p>Already have an account? Then please <a href="{%url 'login'%}"  style = "color : blue;">sign in</a>.</p>
        </center>
        <form class="signup" enctype="multipart/form-data" id="signup_form" method="post" action="{% url 'register' %}" novalidate>
          {% csrf_token %}
          <div class="form-row">
            <div class="form-group col-md-6 mb-0">
              {{ form1.username|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 mb-0">
              {{ form1.email|as_crispy_field }}
            </div>
      
            <div class="form-group col-md-6 mb-0">
              {{form.gender|as_crispy_field}}
            </div>
            <div class="form-group col-md-6 mb-0">
              {{form.professtion|as_crispy_field}}

            </div>
            <div class="form-group col-md-6 mb-0">
              {{form2.house|as_crispy_field}}

            </div>
            <div class="form-group col-md-6 mb-0">
              {{form2.street|as_crispy_field}}

            </div>
            <div class="form-group col-md-6 mb-0">
              {{form2.area|as_crispy_field}}

            </div>
            <div class="form-group col-md-6 mb-0">
              {{form2.pincode|as_crispy_field}}

            </div>
            <div class="form-group col-md-6 mb-0">
              {{form2.district|as_crispy_field}}

            </div>
            <div class="form-group col-md-6 mb-0">
              {{form2.state|as_crispy_field}}

            </div>
          </div>
          {{ form1.password1|as_crispy_field }}
          {{ form1.password2|as_crispy_field }}
          {{form.date_of_birth|as_crispy_field}}
          <button class = "btn btn-primary" type="submit">Sign Up &raquo;</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
